<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial;
      background-color: #eaf2f8;
    }
    .box {
      text-align: center;
      background: white;
      padding: 50px;
      border-radius: 10px;
      width: 400px;
    }
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 22px;
      margin: 15px 0;
    }
  </style>
</head>
<body>

  <div class="box">
    <h1>DASHBOARD</h1>
    <p>1. Add Student</p>
    <p>2. View Students</p>
    <p>3. Logout</p>
  </div>

</body>
</html>
